$primary: #0071bc;
$primary-bg: linear-gradient(45deg, $primary, rgb(56, 53, 53));
$header-bg: rgba(170, 197, 216, 0.9);
$demo-btn: #e6e6e6;
$product-essential: #E64D3D;
$product-primary: #2dcc70;
$grey-1: #706f6f;
$grey-2: #919191;
$grey-3: #dadada;
$grey-4: #ededed;
$color-type-body: var($grey-1);
$success: #2a7e2e;
$atenttion: #2196f3;
$wait: #fff8dd;
$black: #0f0f0f;
$white: #ffffff;
$footer-bg: #c7c7c7;
$hover-bg: #0F6299;

