.question {
  margin: auto;
  width: 50%;

  .btn {
    margin: 1rem;
  }
}
.container {
  margin: auto;
  &-input {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .question {
    margin: 1rem;
    // position: absolute;
    height: calc(100vh - 2rem);
    width: calc(100% - 2rem);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // overflow: scroll;
    font-size: 0.7rem;
   
  }
}
