.question {
    margin: auto;
    width: 50%;
    .btn {
        margin: 1rem;
    }
}
.container {
    margin: auto;
    &-input {
        margin: 1rem 0;
    }
}


@media only screen and (max-width: 768px) {
    .question{
        margin: 1rem;
        width: auto;
        font-size: 0.7rem;
    }
}
