@import "../../_settings/";

.application {
    width: 70%;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 0px #ccc;
    margin: 5rem auto;
    background-color: white;
    .border-right {
        border-right: 1px solid $grey-2;
    }
    .column {
        width: 50%;
        margin: 1rem 0;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        .header {
            margin-right: auto;
            margin-left: auto;
            width: fit-content;
            color: black;
            span{
                color: $primary;
            }
        }

        .count {
            width: 8vw;
            height: 8vw;
            line-height: 8vw;
            margin: 1rem auto;
            border-radius: 50%;
            border: 0.5vw solid;
            font-size: 2vw;
            color: $primary;
            &_empty {
                color: $product-essential;
            }
        }

        p {
            font-size: 1.5vw;
        }
    }
}
.button {
    font-size: 1rem;
    margin: auto;
    width: 15rem;
    height: 3.5rem;
}

.nav-applications {
    margin-left: 2rem !important;
    margin-top: 2rem;
    .menu {
        position: absolute;
        top: -70px;
    }
}

.overlay-applications {
    left: 3%;
}
@media only screen and (max-width: 1024px) {
    .application {
        flex-direction: column;
        font-size: 2vw;
        padding-bottom: 4vh;
        .border-right {
            border: none;
            border-bottom: 1px solid;
        }
        .column {
            width: auto;
            margin: 0 1rem;
            .header {
                font-size: 3vw;
            }
            p {
                font-size: 3.5vw;
            }
        }
    }
    .button {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 768px) {
    .application {
        width: 80%;
        box-shadow: none;
        .column {
            padding: 0;
            .count {
                width: 13vw;
                height: 13vw;
                line-height: 13vw;
                font-size: 3vw;
                margin: 4rem auto;
                border: 2vw solid;
            }
        }
    }
}

@media only screen and (max-width: 601px) {
    .application {
        .column {
            width: auto;
            margin: 0 1rem;
            .header {
                font-size: 7vw;
                width: 17rem;
            }
            .count {
                width: 35vw;
                height: 35vw;
                line-height: 35vw;
                font-size: 8vw;
            }
            .button{
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
}
