@import "../../_settings/";

.application {
    width: 70%;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 0px #ccc;
    margin: 2rem auto;
    background-color: white;
    .border-right {
        border-right: 1px solid $grey-2;
    }
    .column {
        width: 50%;
        margin: 1rem 0;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        .header {
            margin-right: auto;
            margin-left: auto;
            border-bottom: 2px solid;
            width: fit-content;
            color: $primary;
        }
        .count {
            font-size: 2.5rem;
            color: $product-primary;
            &_empty {
                color: $product-essential;
            }
        }

        p {
            font-size: 2rem;
        }
    }
}
.button {
    font-size: 1rem;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .application {
        flex-direction: column;
        font-size: 2vw;
        padding-bottom: 4vh;
        .border-right {
            border: none;
            border-bottom: 1px solid;
        }
        .column {
            width: auto;
            margin: 0 1rem;
            .count {
                font-size: 3.5vw;
            }
            p {
                font-size: 3.5vw;
            }
        }
    }
    .button {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 601px) {
}

@media only screen and (max-width: 500px) {
}
