@import "../../_settings";
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: $header-bg;
    width: 100%;
    height: 96px;
    position: fixed;
    min-width: 100vw;
    z-index: 9999;
    &_logo {
        margin-top: 17px;
        &_image {
            width: 9rem;
            height: 3rem;
        }
    }
    &_login {
        min-width: 16%;
        padding-right: 4rem;
    }
    &_links {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        &_logo {
            &_image {
                width: 7.5rem;
                height: 2.8rem;
            }
        }

        &_links {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        &_logo {
            &_image {
                width: 6rem;
                height: 2.5rem;
            }
        }

        &_login {
            &_btn {
                font-size: 3vw;
            }
        }
    }
}

@media only screen and (max-width: 601px) {
    .header {
        &_logo {
            &_image {
                width: 4rem;
                height: 1.5rem;
            }
        }

        &_login {
            &_btn {
                font-size: 3vw;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
}
