@import "../../_settings";
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: $header-bg;
    width: 100%;
    height: $header-height;
    position: fixed;
    min-width: 100vw;
    z-index: 9999;
    &_logo {
        margin-top: 17px;
        &_image {
            width: 9rem;
            height: 3rem;
        }
    }
    &_login {
        min-width: 16%;
        padding-right: 4rem;
    }
    &_links {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        &_logo {
            &_image {
                width: 7.5rem;
                height: 2.8rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: $mobile-header-height;
        align-items: unset;
        padding: 0;
        &_logo {
            height: fit-content;
            width: 100%;
            position: absolute;
            &_image {
                width: 6rem;
                height: 2.5rem;
            }
        }

        &_links {
            display: none;
        }

        &_login {
            margin-left: auto;
            padding-right: 2rem;
            display: flex;
            justify-content: flex-end;
            &_btn {
                font-size: 2vw;
                position: absolute;
                bottom: 10px;
                right: 50%;
                transform: translateX(50%);
                width: 10rem;
            }
        }
    }
}

@media only screen and (max-width: 601px) {
    .header {
        &_logo {
            &_image {
                width: 5rem;
                height: 2rem;
            }
        }

        &_links {
            display: none;
        }

        &_login {
            &_btn {
                font-size: 3vw;
                width: 12rem;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
}
