@import "../../_settings";
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: $footer-bg;
    width: 100%;
    height: $footer-height;
    text-align: start;
    position: absolute;
    bottom: 0;
    &_links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    &_logo {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            font-size: 10px;
            color: $grey-1;
        }
        &_image {
            width: 7rem;
            height: 2.5rem;
        }
    }
    &_label {
        display: block !important;
        margin: 5px 0;
    }
    &_linkedin {
        height: 2.5rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        //
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        font-size: 3vw;
        flex-direction: column;
        &_logo {
            display: none;
            &_image {
                width: 6rem;
                height: 2rem;
            }
        }
        &_label {
            font-size: 3vw;
        }
    }
}

@media only screen and (max-width: 601px) {
    .footer {
        font-size: 4vw;
        &_logo {
            &_image {
                width: 5rem;
                height: 2rem;
            }
        }
        &_label {
            font-size: 3.5vw;
        }
    }
}
