@import "../../_settings/";

.input {
  display: flex;
  flex-direction: column;
  label {
    font-family: $base-font-family;
    min-width: 6rem;
    width: fit-content;
    font-weight: 600;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin: 0;
    text-align: start;
  }
  input,
  .formattedInput {
    height: 46px;
    border-radius: 0.3rem;
    outline: none;
    border: 1px solid $grey-2;
    font-size: 1.2rem;
  }
}
