@import '../../_settings/colors';
.contact {
    padding-bottom: 350px;
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: start;
    min-height: calc(100vh - 446px);
    display: flex;
    .title {
        display: block;
        margin: auto;
    }
    .demo{
        padding-top: 2rem;
        background-color: $demo-btn;
    }
}

@media only screen and (max-width: 768px) {
    .contact{
        flex-direction: column;
    }
}
