@import "../../_settings/colors";

.option {
    background-color: #0585da;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 15px auto;
    font-size: 0.7rem;
    cursor: pointer;
    width: fit-content;
    min-width: 8rem;
    h3 {
        margin: 0;
    }
    .en {
        color: white;
    }
}
.dont_understand {
    margin-top: 5rem;
}
img {
    width: 12rem;
}
p {
    font-size: 1rem;
}
.translation {
    font-weight: bold;
}
