@import "../../_settings/colors";

.option {
  background-color: #0585da;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 40px auto;
  font-size: 0.7rem;
  cursor: pointer;
  width: 13rem;
  min-height: 2rem;
  h3 {
    margin: 0;
  }
  .en {
    color: white;
  }
}
.dont_understand {
  margin-top: 5rem;
}
img {
  width: 12rem;
}
p {
  font-size: 1rem;
}
.translation {
  font-weight: bold;
}

.image_options {
  cursor: pointer;
  display: inline-block;
  width: 51%;
  h4 {
    color: $primary;
  }
  img {
    width: 10rem;
    height: 10rem;
  }
}
.highlight-italics{
  color: $primary;
  font-style: italic;
  font-weight: bold;
}
