@import "../../_settings/";

$bg-height: 480px;

.home {
  min-height: $bg-height;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  color: $white;
  position: relative;
  &_button {
    width: fit-content;
    background-color: $demo-btn;
    color: $primary;
    padding: 1rem 5rem;
  }
  .myVideo {
    object-fit: cover;
    max-height: $bg-height;
    min-height: 100%;
    position: absolute;
    width: 100%;
  }
  .bg {
    background: $primary;
    height: $bg-height;
    min-width: 100%;
    opacity: 0.7;
    position: absolute;
  }
  .content {
    position: absolute;
    padding: 0 15rem;
    top: 1rem;
    p {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .home {
    &_button {
      padding: 1rem 1.2rem;
    }
    .content {
      padding: 1rem 2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    .content {
      p {
        font-size: 4vw;
      }
    }
  }
}

@media only screen and (max-width: 601px) {
  .home {
    .content {
      p {
        font-size: 5vw;
      }
    }
    &_button {
      font-size: 4vw;
      padding: 0.9rem 2rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home {
    .content {
      p {
        font-size: 6vw;
      }
    }
  }
}
