@import "../../_settings/";
.header_links {
    margin: 0 5rem;
    &_link {
        margin: 10px 20px;
        color: white;
        font-family: $base-font-family;
        transition: 0.4s;
    }
}

@media only screen and (max-width: 1024px) {
    .header_links {
        display: none;
    }
}
