@import "../../_settings/";
.works {
    min-height: 532px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 0px 10rem;

    &_cols {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &_pointer {
        width: 15rem !important;
        p {
            font-size: 18px;
            font-weight: 500;
        }
        &_highlight{
            color: $primary;
            font-weight: bold;
        }
    }
}


@media only screen and (max-width: 1023px){
    .works{
        padding: 1rem 2rem;
        &_cols{
            flex-direction: column;
        }
    }
}