@import "../../_settings/";

.nav {
    width: max-content;
    cursor: pointer;
    margin-left: auto;
    margin-top: 12px;
    .menu {
        display: none;
    }
    .initials {
        border-radius: 50%;
        padding: 10px;
        color: $white;
        background: $primary;
        font-weight: 400;
        font-size: 15px;
    }
    .close {
        display: none;
    }
}
.overlay {
    position: fixed;
    text-align: center;
    margin-top: 0.2em;
    background: $white;
    width: max-content;
    right: 3%;
    border-radius: 5px;
    padding-bottom: 1.5rem;
    box-shadow: 1px 1px 5px 0px #ccc;
    z-index: 99;
    .close {
        right: 1rem;
        position: absolute;
        top: 1rem;
    }
    ul {
        list-style-type: "";
        padding-left: 0.5rem;
        text-align: start;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2rem;
        .products {
            display: none;
        }
    }
    li {
        font-weight: 400;
        font-size: 1.5rem;
        padding: 1.5rem 0;
        cursor: pointer;
        text-align: start;
        color: #0071bc;
        &:active {
            color: $black;
        }
        &:hover {
            color: $grey-1;
        }
    }
    .start_application {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
    }
    .user {
        font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.02rem;
        font-size: 1.3rem;
        padding: 2.5rem 1.5rem;
        background-color: $primary;
        color: white;
    }
}

@media only screen and (max-width: 1024px) {
    .nav {
        font-size: 3vw;
        .close {
            display: block;
        }
    }
    .overlay {
        height: 100vh;
        margin-top: 0;
        width: 40vw;
        right: 0;
        border-radius: 0;
        transition: 0.4s;
        ul {
            .products {
                display: list-item;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        font-size: 4vw;
        position: absolute;
        .initials {
            display: none;
        }
        .menu {
            display: block;
        }
    }

    .overlay {
        width: 50vw;
        left: 0;
        top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .nav {
        font-size: 5vw;
    }
    .overlay {
        width: 90vw;
        left: 0;
        top: 0;
    }
}
