@import '../../../_settings/colors';

.steps {
    margin: 2rem auto;
    width: 50%;
    .btn {
        margin: 1rem;
        min-width: 7rem;
    }
}

.font-check{
    font-family: sans-serif;
    width: fit-content;
    font-weight: 600;
    font-size: 1.2rem;
}
.container {
    margin: auto;
    &-input {
        margin: 1rem 0;
    }
    h1{
        margin-bottom: 0;
        color: black;
    }
    p{
        margin-top: 0;
    }
}
.input {
    font-size: 1rem;
}
.highlight{
    color: $primary;
}

.age-radio{
    // height: 2rem;
}

@media only screen and (max-width: 768px) {
    .steps {
    margin: 7rem 1rem;
    width: auto;
    font-size: 0.7rem;
    }
}
