.bar {
    height: 10rem;
    width: 7rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .division {
        height: 2rem;
        width: 0.3rem;
        .tag {
            display: inline-block;
            margin-left: 2rem;
            width: max-content;
            line-height: 2rem;
        }
        .indicator {
            margin-top: -1rem;
            margin-left: -0.9rem;
            height: 0.2rem;
            position: absolute;
            width: 2rem;
            background: black;
            border-radius: 20px;
        }
    }
}
