@import "./components/_settings/";

.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 350px;
  padding-top: 96px;
  background-color: $grey-4;
  min-height: calc(100vh - 446px);
}
