@import "../../_settings/";
.demo {
    min-height: 532px;
    background-color: $demo-btn;
    display: flex;
    flex-direction: column;
    padding: 0px 10rem;
}

@media only screen and (max-width: 768px) {
    .demo {
        padding: 1% 2%;
    }
}
